body{
  background-color:#cccccc;
}

#doc, #doc2, #doc3, #doc4{
  background-color:#ffffff;
  border-top: solid 8px #CC0000;
  border-bottom: solid 8px #CC0000;
  border-left: solid 1px #999999;
  border-right: solid 1px #999999;
}

a{
  color:#CC0000;
  text-decoration:none;  
}

h1, h2, h3{
  color:#CC0000;
}
h2{
  border-bottom: solid 1px #eeeeee;
}
h1{
  font-size:1.2em;
}

h2{
 font-size:1.1em;
}

h3{
 font-size:1.0em;
 text-transform:bold;
 font-weight:bold;
}

#hd, #ft, #bd{
  padding-left:1em;
  padding-right:1em;
}

#hd{
  margin-top:0em;
  border-bottom: solid 1px #cccccc;
}

#ft{
  margin-bottom:0em;
  padding: 1em;
  border-top: solid 1px #cccccc;
}

pre{
  background-color:#eeeeee;
  padding:1em;
}

#nav {
  padding-left:0;
  margin-left:0;
}

#nav li{
  list-style-type:none;
  display:inline;
  padding-right:0.0em;
}

div.hint{
  margin:1em  0 1em 0;
  border: solid 1px #cccccc;
  background:#ffc;
}
div.hint .admonition-title{
  background:#ccc;
  color:#C00;
  text-transform:bold;
  font-weight:bold;

}

div.hint .last{
  padding-left: 0.5em;
  padding-top: 0.5em;

}
